biopython
bokeh
cffi
Cython
cytoolz
dask
datashape
flask
h5py
jupyter
matplotlib
notebook
networkx
nltk
numba
numpy
pandas
pillow
pyproj
pyzmq
scikit-image
scikit-learn
scipy
seaborn
Sphinx
statsmodels
sympy
toolz
xarray
