bayespy
beautifulsoup4
blockdiag
blosc
bqplot
chardet
cloudpickle
coverage
cytoolz
dbfread
duecredit
ete3
folium
forestci
gensim
geopy
google_compute_engine
jsonpickle
jyquickhelper
keyring
lifelines
lightgbm
lightning-python
manydataapi
mlinsights
mlstatpy
mpld3
mutagen
opencv-python
pandas_streaming
partd
plotly
pocket
psutil
pydub
pyensae>=1.2.788
pygal
pygal_maps_fr
pygame
pylzma
pymmails
pympler
pymyinstall
pyqt5
pyquickhelper>1.8.2885
pyrsslocal
python-jenkins
qgrid
semantic_version
seasonal
shapely
sphinx_bootstrap_theme
sphinx_rtd_theme
tables
toolz
tkinterquickhelper
treeinterpreter
tutormagic
wheel
xgboost
xlrd
xlsxwriter
xlwt
