antlr4-python3-runtime
autopep8
azure
babel!=2.0
bayespy
beautifulsoup4
blockdiag
blosc
bqplot
chardet
cloudpickle
coverage
cytoolz
dbfread
duecredit
ete3
folium
forestci
gensim
geopy
ggplot
jsonpickle
jyquickhelper
keras
lifelines
lightgbm
lightning-python
mlstatpy
mpld3
mutagen
opencv-python
pandas_streaming
partd
plotly
pocket
psutil
pycodestyle>=2.0.0
pydocstyle
pydub
pyenbc
pyensae
pygal
pygal_maps_fr
pygame
pylzma
pymmails
pympler
pymyinstall>=1.1.1415
pyqt5
pyquickhelper>=1.5.2259
pyrsslocal
python-jenkins
qgrid
semantic_version
seasonal
shapely
tables
toolz
sphinx-gallery
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinxjp.themes.basicstrap
sphinxjp.themes.revealjs
sphinxjp.themes.sphinxjp
sphinx_rtd_theme
tensorflow
tkinterquickhelper
tqdm<4.15.0
treeinterpreter
tutormagic
version_information
xlrd
xlsxwriter
xlwt
wheel
