biopython
bokeh
cartopy
cffi
cvxopt
Cython
cytoolz
dask
datashape
flask
h5py
jupyter
matplotlib
notebook
networkx
nltk
numba
numpy
pandas
pillow
pyproj
pyzmq
scikit-image
scikit-learn
scipy
seaborn
Sphinx>=2.0
statsmodels
sympy
toolz
ujson
xarray
