astroid
cython
docutils
et_xmlfile
ijson
importlib_metadata
ipython
isort
jdcal
joblib
jupyter
matplotlib
nbformat
numpy
openpyxl
pandas
psutil
pybind11
pycodestyle
pylint
pymyinstall
pyquickhelper
pyshp
scikit-learn
threadpoolctl
xlrd
xlsxwriter
wheel
