astroid
blockdiag
branca
cython
docutils
et_xmlfile
flask
funcparserlib
ijson
importlib_metadata
ipython
isort
itsdangerous
jdcal
joblib
jupyter
matplotlib
nbformat
numpy
openpyxl
pandas
psutil
pybind11
pycodestyle
pycryptodomex
pygame
pylint
pymyinstall
pyquickhelper
pyshp
python-jenkins
PyYAML
scikit-learn
statsmodels
threadpoolctl
xlrd
xlsxwriter
werkzeug
wheel
