version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.8.7
    
    working_directory: ~/repo
    
    steps:
      - checkout

      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "requirements.txt" }}
          - v2-dependencies-

#       - run:
#           name: Install omp
#           command: |
#                     sudo apt-get install -y libomp-dev
          
      - run:
          name: Install pandoc
          command: |
                    sudo apt-get update 
                    wget https://github.com/jgm/pandoc/releases/download/2.11.3.2/pandoc-2.11.3.2-1-amd64.deb
                    sudo dpkg -i pandoc-2.11.3.2-1-amd64.deb
          
      - run:
          name: Install tex
          command: |
                    sudo apt-get install -y texlive
                    sudo apt-get install -y texlive-latex-extra
                    sudo apt-get install -y dvipng
          
      - run:
          name: install language package for onnxruntime
          command: |
                    sudo locale-gen

      - run:
          name: Install 7z, unrar
          command: |
                    sudo apt-get install -y p7zip-full
          
      - run:
          name: Install InkScape
          command: |
                    sudo apt-get install -y inkscape
          
      - run:
          name: Install graphviz
          command: |
                    sudo apt-get install -y graphviz

      - run:
          name: Install llvmlite
          command: |
            sudo apt-get install lsb-release wget software-properties-common
            wget https://apt.llvm.org/llvm.sh
            chmod +x llvm.sh
            sudo ./llvm.sh 10
            ls /usr/bin/llvm*

      - run:
          name: Install protobuf-compiler cmake
          command: |
            sudo apt-get install protobuf-compiler libprotoc-dev cmake

      - run:
          name: Install standard libraries
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install scipy matplotlib numpy cython pandas wheel pybind11

      - run:
          name: Install numba, llvmlite
          command: |
            python -m venv venv
            . venv/bin/activate
            # export LLVM_CONFIG=/usr/local/opt/llvm/bin/llvm-config
            sudo ln -s /usr/bin/llvm-config-10 /usr/bin/llvm-config
            pip install llvmlite numba

#      - run:
#          name: Build onnx
#          command: |
#            python3 -m venv venv
#            git clone -b master --single-branch https://github.com/onnx/onnx.git --recursive
#            cd onnx
#            export ONNX_ML=1
#            export ONNX_BUILD_TESTS=1
#            export ONNXIFI_DUMMY_BACKEND=1
#            python setup.py bdist_wheel
#            ls dist
#            python setup.py install
#            cd ..

      - run:
          name: install dependencies (2)
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - run:
          name: install onnxruntime
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip freeze | grep onnx
            pip install onnxruntime>=1.6.0

      - save_cache:
          paths:
            - ./venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}
        
      - run:
          name: install sklearn-onnx, onnxconverter-common
          command: |
            . venv/bin/activate
            pip install git+https://github.com/xadupre/onnxconverter-common.git@jenkins --upgrade
            pip install git+https://github.com/xadupre/sklearn-onnx.git@jenkins --upgrade

      - run:
          name: check list of dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip freeze
            apt list --installed
        
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            # pygame
            export AUDIODEV=null	
            export SDL_VIDEODRIVER=dummy	
            export SDL_AUDIODRIVER=disk	
            export DISPLAY=localhost:0.0
            # unittest
            export PYTHONPATH=src
            python setup.py unittests -d 15 -g ".*((LONG)|(SKIP)|(notebooks)).*"
          # Some tests take for ever, cutting the list.

      - run:
          name: wheel
          command: |
            . venv/bin/activate
            python setup.py bdist_wheel
            mkdir -p test-reports/dist
            cp dist/*.whl test-reports/dist
            mkdir -p test-reports/src
            cp -r  ensae_teaching_cs test-reports/src

#      - run:
#          name: documentation
#          command: |
#           . venv/bin/activate
#           python setup.py build_sphinx
#           
#      - run:
#          name: copy documentation
#          command: |
#           mkdir -p test-reports/doc
#           zip -r -9  test-reports/doc/documentation_html.zip _doc/sphinxdoc/build/html
            
      - store_artifacts:
          path: test-reports
          destination: test-reports
