version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2
    
    working_directory: ~/repo
    
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          - v1-dependencies-

      - run:
          name: Install pandoc
          command: |
                    sudo apt-get update 
                    wget https://github.com/jgm/pandoc/releases/download/1.19.2.1/pandoc-1.19.2.1-1-amd64.deb
                    sudo dpkg -i pandoc-1.19.2.1-1-amd64.deb
          
      - run:
          name: Install tex
          command: |
                    sudo apt-get install -y texlive
                    sudo apt-get install -y texlive-latex-extra
                    sudo apt-get install -y texlive-lang-french
          
      - run:
          name: Install 7z
          command: |
                    sudo apt-get install -y p7zip-full
          
      - run:
          name: Install InkScape
          command: |
                    sudo apt-get install -y inkscape
          
      - run:
          name: Install graphviz
          command: |
                    sudo apt-get install -y graphviz

      - run:
          name: install avconv (ffmpeg)
          command: |
                    sudo apt-get install libav-tools

      - run:
          name: Install pygame
          command: |
                    sudo apt-get install libasound2-dev
                    sudo apt-get install libX11-dev
                    sudo apt-get -y install xvfb pulseaudio
                    sudo apt-get install -y python-pygame

      - run:
          name: install dependencies 1 - requirements_conda
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements_conda.txt
            
      - run:
          name: install dependencies 2 - requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            
      - run:
          name: install dependencies 3 - sphinxcontrib, datashader, pyPDF, natgrid
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install git+https://github.com/sdpython/sphinxcontrib-images.git --upgrade --no-deps
            pip install git+https://github.com/bokeh/datashader.git --upgrade --no-deps
            pip install git+https://github.com/sdpython/pyPdf --upgrade --no-deps
            pip install git+https://github.com/matplotlib/natgrid --upgrade --no-deps
            
      - run:
          name: install dependencies 4 - fairtest
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install https://github.com/sdpython/fairtest/releases/download/0.1/fairtest-0.1-py3-none-any.whl
            
      - run:
          name: install install dependencies 4 - torch
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip3 install http://download.pytorch.org/whl/cu75/torch-0.2.0.post3-cp36-cp36m-manylinux1_x86_64.whl 
            pip3 install torchvision
            
      - run:
          name: install basemap
          command: |
            python3 -m venv venv
            . venv/bin/activate
            sudo apt-get install libgeos-dev
            pip install git+https://github.com/matplotlib/basemap.git

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            export AUDIODEV=null
            export SDL_VIDEODRIVER=dummy
            export SDL_AUDIODRIVER=disk
            export DISPLAY=localhost:0.0
            python setup.py unittests

      - run:
          name: wheel
          command: |
            . venv/bin/activate
            python -u setup.py bdist_wheel
            mkdir -p test-reports/dist
            cp dist/*.whl test-reports/dist

      - run:
          name: documentation
          command: |
            . venv/bin/activate
            python setup.py build_sphinx html1 nblight
            
      - run:
          name: copy documentation
          command: |
            mkdir -p test-reports/doc
            cp -r  _doc/sphinxdoc/build/html test-reports/doc
            
      - store_artifacts:
          path: test-reports
          destination: test-reports