.admonition-mathdef {
	color: #424242;
	background-color: #F9F9F9;
	font-size: 14px;
}
.admonition-todoext {
	color: #424242;
	background-color: #F9F9B9;
	font-size: 14px;
}
.admonition-faqref {
	color: #424242;
	background-color: #F9F9B9;
	font-size: 14px;
}
.admonition-exref {
	color: #424242;
	background-color: #F9F9B9;
	font-size: 14px;
}
.admonition-nbref {
	color: #424242;
	background-color: #F9F9B9;
	font-size: 14px;
}
.admonition-blocref {
	color: #424242;
	background-color: #F9F9B9;
	font-size: 14px;
}

table {
    border: 1px solid #dddddd;
	border-spacing: 2x;
	padding: 4px;
}

th, td {
    border: 1px solid #dddddd;
	border-spacing: 1px;
	padding: 2px;
}

pre.highlight-default {
	background-color: #b5b5b5;
}
